torch>=1.9.0
torchvision
webdataset>=0.2.5
regex
ftfy
tqdm
pandas
braceexpand
huggingface_hub
transformers
sentencepiece
protobuf==3.20.*
timm
fsspec
tensorflow==2.11.0
tensorflow-datasets==4.8.2
tensorflow-text==2.11.0
wandb==0.13.10
pyyaml